    /* .card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn {
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #fff !important;
    color: #007bff !important;
    border-color: #007bff !important;
  }
   */